
<div class="product-container">
  <% @@cakes.each do |product| %>
    <div class="product">
      <img src="<%= product.img %>" width=275>
      <h3 class="product-title"> <%= product.name %></h3>
      <h5 class ="product-mg"> <%= product.mg %>mg </h4>
      <h4 class="product-price"> $<%= product.price %>.00 USD </h4>
      <p class="product-description"><%= product.desc %></p>
    </div>
  <% end %>
</div>


