
<div id="home-content">
	<div id="splash-photo">
		<div id="splash-text">
		
		</div>
	</div>


	<div id="featured">
		<h1>FEATURED PRODUCTS</h1>
		<div class="product-container">
			<% @@all_products.sample(3).each do |product| %>
			<div class="product">
				<img src="<%= product.img %>" width=275>
				<h3 class="product-title"> <%= product.name %></h3>
				<h5 class="product-mg"> <%= product.mg %>mg </h4>
					<h4 class="product-price"> $<%= product.price %>.00 USD </h4>
					<p class="product-description"><%= product.desc %></p>
			</div>
			<% end %>
		</div>
	</div>

	<div id="aboutus">
		<h2>Stay a while... Your budman doesn't need to know</h2>
		<h4>Our ethically sourced, potent ingredients are guaranteed to top the quality and taste of whatever you find at your local dispensary.</h4>
		<div id="thc-oil"></div>
	</div>
	

	<div id = "homepage-article">
		
		<a href="cakes"><div class="homepage-content-box">
			<div id="homepage-cake" class="homepage-picture">
				<img src='https://images.pexels.com/photos/1414234/pexels-photo-1414234.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'>
			</div>
			<div class ="homepage-caption">
				<h1>CAKES</h1>
				<p>Aute eu eu nulla ipsum cillum. In deserunt magna anim enim esse pariatur nisi labore exercitation. Id minim amet cillum sit velit mollit. Quis in aute enim non laborum reprehenderit.
				Aute eu eu nulla ipsum cillum. In deserunt magna anim enim esse pariatur nisi labore exercitation. Id minim amet cillum sit velit mollit. Quis in aute enim non laborum reprehenderit.

					Lorem dolore esse adipisicing voluptate consequat sint consectetur irure consequat enim sunt proident ut. Sunt anim dolor veniam ullamco velit. Est qui aliqua dolor id. Laborum proident tempor minim cupidatat exercitation enim do elit deserunt. Adipisicing ex culpa commodo cupidatat in consectetur do aute amet dolor eu.</p>
			</div>
		</div>
		</a>
		<div class="homepage-content-box">
			<div class ="homepage-caption">
				<h1>MUFFINS</h1>
				<p>Aute eu eu nulla ipsum cillum. In deserunt magna anim enim esse pariatur nisi labore exercitation. Id minim amet
					cillum sit velit mollit. Quis in aute enim non laborum reprehenderit.
					Aute eu eu nulla ipsum cillum. In deserunt magna anim enim esse pariatur nisi labore exercitation. Id minim amet
					cillum sit velit mollit. Quis in aute enim non laborum reprehenderit.
				
					Lorem dolore esse adipisicing voluptate consequat sint consectetur irure consequat enim sunt proident ut. Sunt anim
					dolor veniam ullamco velit. Est qui aliqua dolor id. Laborum proident tempor minim cupidatat exercitation enim do
					elit deserunt. Adipisicing ex culpa commodo cupidatat in consectetur do aute amet dolor eu.</p>
			</div>
			<div id="homepage-muffin" class="homepage-picture">
			      <img src="https://images.pexels.com/photos/1853008/pexels-photo-1853008.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
			</div>
		</div>
		<div class="homepage-content-box">
			<div  id="homepage-cookie" class="homepage-picture">
				<img src="https://images.pexels.com/photos/890577/pexels-photo-890577.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
			</div>
			<div class ="homepage-caption">
				<h1>COOKIES</h1>
				<p>Aute eu eu nulla ipsum cillum. In deserunt magna anim enim esse pariatur nisi labore exercitation. Id minim amet
					cillum sit velit mollit. Quis in aute enim non laborum reprehenderit.
					Aute eu eu nulla ipsum cillum. In deserunt magna anim enim esse pariatur nisi labore exercitation. Id minim amet
					cillum sit velit mollit. Quis in aute enim non laborum reprehenderit.
				
					Lorem dolore esse adipisicing voluptate consequat sint consectetur irure consequat enim sunt proident ut. Sunt anim
					dolor veniam ullamco velit. Est qui aliqua dolor id. Laborum proident tempor minim cupidatat exercitation enim do
					elit deserunt. Adipisicing ex culpa commodo cupidatat in consectetur do aute amet dolor eu.</p>
			</div>
		</div>
	</div>
	
</div>

